{% extends "layout.html" %}
{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/confirm_order">Credit Card</a></li>
  <li role="presentation"><a href="/debit">Debit Card</a></li>
  <li role="presentation" class="active"><a href="/cash">Cash on delivery</a></li>
</ul>

<div style="margin-top:50px" class="container">
  <form action="/final">
    <div class="row">
      <div class="form-group col-xs-4">
        <label for="exampleInputEmail1">Contact No.</label>
        <input type="text" class="form-control" id="exampleInputEmail1" >
        <p class="small">Will be used for contacting you during delivery</p>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Complete Order</button>
  </form>
</div>

{% endblock %}
