{% extends "layout.html" %}
{% block body %}
<form>
<div class="row">
<div class="col-md-6 col-md-offset-2">
<h3>Enter Address Details</h3>
	<div class="form-group">
		<label for="exampleInputEmail1">Name</label>
		<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	</div>
	<div class="form-group">
	  <label for="InputAdress">Address</label>
	 <textarea class="form-control" rows="3" name="InputAddress" placeholder="Address"></textarea>
	</div>
	<div class="form-group">
		<label for="InputPin">Pin</label>
		<input type="text" class="form-control" placeholder="Pin" name="InputPin">
	</div>
    <div class="form-group">
		<label for="InputPhone">Phone</label>
		<input type="text" class="form-control" placeholder="Phone" name="InputPhone">
    </div>
</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<h3>Order Details</h3>
		<div class="panel panel-default">
		  	<div class="panel-heading">Order Details</div>
		  		<div class="panel-body">
				{% for product in results_dict %}				
						<p>{{ product.get('PNAME') }}<b style="float: right">Rs.{{ product.get('PRICE') }}</b></p>
				{% endfor %}
		 		</div>
			</div>
		</div>
</div>
<button type="submit" class="btn btn-default">Confirm Order</button>
</form>
{% endblock %}