{% extends "layout.html" %}
{% block body %}

<script>
window.onload = function(){
 var min = 4;
 var sec = 60;
 setInterval(function(){
   document.getElementById("timer").innerHTML = min +" : " + sec + " Minutes";
   sec--;
   if(sec == 00)
   {
     min--;
     sec = 60;
     if (min == 0)
     {
        min = 2;
     }
   }
  },500);
}
</script>

  <div class="container" id="category1" style="margin-left: 0px" >
    <div class="row">
      <div class="col-md-2">
        <table class="table table-hover" style="background-color: white">
          <tr>  
            <th>Categories</th>
          </tr>
         <tr>
            <td><a href="/search?cname=software">Software</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick="toggleByClass('sub_clothing')">Clothing<span class="glyphicon glyphicon-plus sub_clothing_sign" style="float:right;"></span>
            <span class="glyphicon glyphicon-minus sub_clothing_sign" style="display: none;float:right;"></span></a></td>
          </tr>
          <tr class="sub_clothing" style="display: none;"><td><a href="/search?subcname=formal+shirt" style="margin-left: 30px">Formal Shirts</a></td></tr>
          <tr class="sub_clothing" style="display: none;"><td><a href="/search?subcname=tshirt" style="margin-left: 30px">T-shirt</a></td></tr>
          <tr class="sub_clothing" style="display: none;"><td><a href="/search?subcname=sarees" style="margin-left: 30px">Sarees</a></td></tr>
          <tr class="sub_clothing" style="display: none;"><td><a href="/search?subcname=kurtis" style="margin-left: 30px">Kurtis</a></td></tr>
          <tr class="sub_clothing" style="display: none;"><td><a href="/search?subcname=dresses" style="margin-left: 30px">Dresses</a></td></tr>
          <tr>
            <td><a href="#" onclick="toggleByClass('sub_footwear')">Footwear<span class="glyphicon glyphicon-plus sub_footwear_sign" style="float:right;"></span>
            <span class="glyphicon glyphicon-minus sub_footwear_sign" style="display: none; float:right;"></span></a></td>
          </tr>
          <tr class="sub_footwear" style="display: none;"><td><a href="/search?subcname=formal+shoes" style="margin-left: 30px">Formal shoes</a></td></tr>
          <tr class="sub_footwear" style="display: none;"><td><a href="/search?subcname=casual+shoes" style="margin-left: 30px">Casual shoes</a></td></tr>
          <tr class="sub_footwear" style="display: none;"><td><a href="/search?subcname=sports+shoes" style="margin-left: 30px">Sports shoes</a></td></tr>
          <tr class="sub_footwear" style="display: none;"><td><a href="/search?subcname=heels" style="margin-left: 30px">Heels</a></td></tr>
          <tr class="sub_footwear" style="display: none;"><td><a href="/search?subcname=flats" style="margin-left: 30px">Flats</a></td></tr>
          <tr>
            <td><a href="/search?cname=mobiles">Mobiles</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick="toggleByClass('sub_furniture')">Furniture<span class="glyphicon glyphicon-plus sub_furniture_sign" style="float:right;"></span>
            <span class="glyphicon glyphicon-minus sub_furniture_sign" style="display: none;float:right;"></span></a></td>
          </tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=bed" style="margin-left: 30px">Bed</a></td></tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=sofa" style="margin-left: 30px">Sofa</a></td></tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=tv+cabinets" style="margin-left: 30px">TV Cabinets</a></td></tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=dining+tables" style="margin-left: 30px">Dining Table</a></td></tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=studytables" style="margin-left: 30px">Study Tables</a></td></tr>
          <tr class="sub_furniture" style="display: none;"><td><a href="/search?subcname=beanbags" style="margin-left: 30px">Bean Bags</a></td></tr>
          <tr>
          <td><a href="/search?cname=laptops">Laptop</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick="toggleByClass('sub_appliances')">Home Appliances<span class="glyphicon glyphicon-plus sub_appliances_sign" style="float:right;"></span>
            <span class="glyphicon glyphicon-minus sub_appliances_sign" style="display: none;float:right;"></span></a></td>
          </tr>
          <tr class="sub_appliances" style="display: none;"><td><a href="/search?subcname=television+sets" style="margin-left: 30px">Television</a></td></tr>
          <tr class="sub_appliances" style="display: none;"><td><a href="/search?subcname=washing+machines" style="margin-left: 30px">Washing Machine</a></td></tr>
          <tr class="sub_appliances" style="display: none;"><td><a href="/search?subcname=microwave+oven" style="margin-left: 30px">Microwave Oven</a></td></tr>
          <tr class="sub_appliances" style="display: none;"><td><a href="/search?subcname=vacuum+cleaners" style="margin-left: 30px">Vaccum Cleaner</a></td></tr>
          <tr class="sub_appliances" style="display: none;"><td><a href="/search?subcname=refrigerators" style="margin-left: 30px">Refrigerators</a></td></tr>
        </table>        
      </div>
      
      <div class="col-md-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active"><a href="/search?cname=clothing">
              <img src="{{ url_for('static',filename='images/sales_banner/sales_banner8.jpg') }}" alt="SALE BANNER 1" style="height: 350px;width: 900px"></a>
            </div>
            <div class="item"><a href="/search?cname=footwear">
              <img src="{{ url_for('static',filename='images/sales_banner/banner5.jpg') }}" alt="SALE BANNER 2" style="height: 350px;width: 900px"></a>
            </div>
            <div class="item"><a href="/search?subcname=tshirt">
              <img src="{{ url_for('static',filename='images/sales_banner/banner2.jpg') }}" alt="SALE BANNER 3" style="height: 350px;width: 900px"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <img src="{{ url_for('static',filename='images/sales_banner/bannner7.jpg') }}" alt="SALE BANNER 7" style="height: 300px;width: 300px;margin-top: 25px">
      </div>
    </div>
  </div>

  <div class="container" style="justify-content: center;">
    <div class="row" style="margin-top: 35px">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 220px;margin-top :25px">
                <div class="col-md-2">
                  <h4>Lightning Sale On Furniture and Home Appliances</h4>
                  <b><div style="color:#777">Ends In<br><div id="timer" style="color:#777"></div></b><br></div>
                  <a href="/search?discount=yes"><button class="btn btn-primary btn-sm">View All</button></a>                  
                </div>
                <div class="col-md-2 thumb-home-container"">              
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P202/thumb.jpeg') }}" alt="Product 1" style="height: 180px;width: 125px">
                <h5 style="margin-top: 25px">Telivisions</h5>
                </div>
                <div class="col-md-2 thumb-home-container"">                 
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P63/thumb.jpeg') }}" alt="Product 2" style="height: 150px;width: 125px">
                  <h5 style="margin-top: 25px">Study Tables</h5>
                </div>
                <div class="col-md-2 thumb-home-container"">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P209/thumb.jpeg') }}" alt="Product 3" style="height: 150px;width: 125px">
                  <h5 style="margin-top: 25px">Microwave Ovens</h5>
                </div>
                <div class="col-md-2 thumb-home-container"">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P77/thumb.jpeg') }}" alt="Product 4" style="height: 150px;width: 125px">
                  <h5 style="margin-top: 25px">Entertainment Units</h5>
                </div>
                <div class="col-md-2 thumb-home-container"">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P85/thumb.jpeg') }}" alt="Product 5" style="height: 150px;width: 90px;">
                  <h5 style="margin-top: 25px">Washing Machines</h5>
                </div>
            </div> 
        </div>
    </div>
  </div>


  <div class="container" style="justify-content: center;">
    <div class="row" style="margin-top: 35px">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 220px">
                <div class="col-md-2">
                  <h2>Clothing</h2>
                  <h2 >Colletions</h2>
                  <a href="/search?cname=clothing"><button class="btn btn-primary btn-sm">View All</button></a>                  
                </div>
                <div class="col-md-2 thumb-home-container">              
                  <img src="{{ url_for('static',filename='images/products/P13/thumb.jpeg') }}" alt="Product 1" style="max-height: 150px;max-width: 200px">
                <h5>Kurtas</h5>
                </div>
                <div class="col-md-2 thumb-home-container">                 
                  <img src="{{ url_for('static',filename='images/products/P21/thumb.jpeg') }}" alt="Product 1" style="max-height: 150px;max-width: 85px">
                  <h5 style="margin-top:15px">Formal shirts</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P17/thumb.jpeg') }}" alt="Product 1" style="max-height: 150px;max-width: 85px">
                  <h5 style="margin-top:15px">Men T-shirts</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P18/thumb.jpeg') }}" alt="Product 1" style="max-height: 150px;max-width: 85px">
                  <h5 style="margin-top:15px">Men Casual T-shirts</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P15/thumb.jpeg') }}" alt="Product 1" style="max-height: 150px;max-width: 95px;">
                  <h5 style="margin-top:30px">Festive Sarees</h5>
                </div>
            </div> 
        </div>
    </div>
  </div>



  <div class="container" style="justify-content: center">
    <div class="row" style="margin-top: 15px">      
        <div class="panel panel-default" style="min-height: 220px">
            <div class="panel-body" style="margin-top: 25px">              
                <div class="col-md-2">
                  <h2>Footwear</h2>
                  <h2 >Colletions</h2>
                  <a href="/search?cname=footwear"><button class="btn btn-primary btn-sm">View All</button></a>                  
                </div>
                <div class="col-md-2 thumb-home-container">
                <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P9/thumb.jpeg') }}" alt="Product 1" style="max-height: 90px;max-width: 200px">
                <h5 style="margin-top: 20px">Bata Women Black Heels</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P2/thumb.jpeg') }}" alt="Product 1" style="max-height: 90px;max-width: 200px">
                  <h5 style="margin-top: 20px">Louis Philippe</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P3/thumb.jpeg') }}" alt="Product 1" style="max-height: 90px;max-width: 150px">
                  <h5 style="margin-top: 30px">Lee Cooper</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P4/thumb.jpeg') }}" alt="Product 1" style="max-height: 90px;max-width: 150px">
                  <h5 style="margin-top: 40px">Levis Casuals</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img src="{{ url_for('static',filename='images/products/P6/thumb.jpeg') }}" alt="Product 1" style="max-height: 90px;max-width: 150px">
                  <h5 style="margin-top: 15px">Carlton London Women Flats</h5>
                </div>            
            </div> 
        </div>      
    </div>
  </div>


<!--
  <div class="container" style="justify-content: center;">
    <div class="row" style="margin-top: 15px">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 220px">
                <div class="col-md-2">
                  <h2>Home</h2><h2>Appliances</h2>
                  
                  <a href="#"><button class="btn btn-primary btn-sm">View All</button></a>                  
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P6/thumb.jpeg') }}" alt="Product 1" style="max-height: 105px">
                <h5>Festive Saree (Ethnic Wear)</h5>
                </div>
                <div class="col-md-2 thumb-home-container">                 
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P7/thumb.jpeg') }}" alt="Product 1" style="max-height: 105px">
                  <h5>Jeans(Men)</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P8/thumb.jpeg') }}" alt="Product 1" style="max-height: 105px">
                  <h5>Kurta(Ethnic Wear)</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P9/thumb.jpeg') }}" alt="Product 1" style="max-height: 105px">
                  <h5>Hoodies (Men)</h5>
                </div>
                <div class="col-md-2 thumb-home-container">
                  <img class="img-responsive thumb-image-home" src="{{ url_for('static',filename='images/products/P10/thumb.jpeg') }}" alt="Product 1" style="max-height: 105px">
                  <h5>Kurta(Ethnic Wear)</h5>
                </div>
            </div> 
        </div>
    </div>
  </div>-->

{% endblock %}
