{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">	
	    function toggleImage(class1,class2,class3) {
         $("."+class1).show();
         $("."+class2).hide();
         $("."+class3).hide();
    }
</script>
<style type="text/css">
	.prod_image_container{
		margin-left: 20px;
		width: 400px;
		max-height: 650px;
	}
	.prod_image{
	  display: block;
	  width: 100%;
	  height: auto;
	  max-height: 600px
	}

</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
			<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image1.jpeg') }}" width="70px" height="70px" style="padding:1px;border:thin solid #777;margin-top: 25px" onmousemove="toggleImage('image1','image2','image3')">
			<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image2.jpeg') }}" width="70px" height="70px" style="padding:1px;border:thin solid #777;margin-top: 25px" onmousemove="toggleImage('image2','image1','image3')">
			<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image3.jpeg') }}" width="70px" height="70px" style="padding:1px;border:thin solid #777;margin-top: 25px" onmousemove="toggleImage('image3','image2','image1')">
		</div>
		<div class="col-md-4">
			<div class="well prod_image_container image1" style="background-color: white;text-align: center;display: block">
				<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image1.jpeg') }}" class="prod_image">
			</div>
			<div class="well prod_image_container image2" style="background-color: white;text-align: center;display: none">
				<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image2.jpeg') }}" class="prod_image">
			</div>
			<div class="well prod_image_container image3" style="background-color: white;text-align: center;display: none">
				<img src="{{ url_for('static',filename='images/products/'+result_dict.get('PID')+'/image3.jpeg') }}" class="prod_image">
			</div>
				
				<a href="/checkout?pid={{ result_dict.get('PID') }}" style="margin-left: 80px"><button class="btn btn-primary btn-lg" style="background-color: #f8b81f;border-color: #f8b81f">Buy Now</button></a>
				<form  method="get" action="{{ url_for('add_to_cart') }}" class="form-inline" style="display: inline">
				<input type="hidden" value="{{ result_dict.get('PID') }}" name="pid">
				<button class="btn btn-primary btn-lg" type="submit" style="background-color: #ee7b06;border-color: #ee7b06">Add to Cart</button>
				</form>
		
		</div>
		<div class="col-md-4">
			<h4>{{ result_dict.get('PNAME') }}</h4>
			<p>Rating <span class="badge" style="background-color: #08d30b">{{ result_dict.get('RATING') }} <span class="glyphicon glyphicon-star"></span></span></p>
			<h3><b>Rs.{{ result_dict.get('PRICE') }}</b></h3>
			<p>Brand: <b>{{ result_dict.get('BRAND') }}</b></p>
			{% if result_dict.get('SUB_CATEGORY') %}
			<p>Sub Category: <b>{{ result_dict.get('SUB_CATEGORY') }}</b></p>
			{% endif %}
			{% if result_dict.get('SIZE') %}
			<p>Size: <b>{{ result_dict.get('SIZE') }}</b></p>
			{% endif %}
		</div>
        <div class="form-group col-md-4">
        	<form  method="post" action="{{ url_for('product') }}">
            <textarea class="form-control" rows="3" name="review" placeholder="Review"></textarea>
            <input type="hidden" value="{{ result_dict.get('PID') }}" name="pid">
            <button type="submit" class="btn btn-default" style="margin-top: 10px">Submit</button>
            </form>
            {% if reviews %}
        	<h2>Reviews from customers:</h2>
        	{% for review in reviews%}
        	<div style="border-left: 5px solid #08d30b;padding-left: 10px;margin-left: 25px;">
        	<p>{{ review.get('REVIEW') }}</p>
        	</div>
        	{% endfor %}
        	{% endif %}
        </div>
	</div>

</div>

{% endblock %}