{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="well" style="background-color: white">
        <form method="POST" action="{{ url_for('search') }}">
            {% if category[0] %}
            <h5>Category</h5>
            <select class="form-control" name="category">
            {% for cat in category %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
          </select>
          <hr>
          {% endif %}
          {% if genders[0] %}
          <h5>Gender</h5>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="gender" id="genderValue1" value="M" style="margin-top: 1px">Male
            </label>
          </div>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="gender" id="genderValue2" value="F" style="margin-top: 1px">Female
            </label>
          </div>
          <hr>
          {% endif %}
          
          {% if discount[0] %}
          <h5>Discount</h5>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="discount" value="Y" style="margin-top: 1px">Yes
            </label>
          </div>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="discount" value="N" style="margin-top: 1px">No
            </label>
          </div>
          <hr>
          {% endif %}
          {% if sizes[0] %}
          <h5>Size</h5>
          {% for size in sizes %}
          <div class="checkbox">
            <label>
              <input type="checkbox" value="{{ size }}" name="size">
              <p style="margin-top: 3px;margin-left: 2px;">{{ size }}</p>
            </label>
          </div>
          {% endfor %}
          <hr>
          {% endif %}
          <h5>Brands</h5>
          <div class="well" style="background-color: white; overflow: scroll;max-height: 200px;padding-top: 5px;padding-left: 5px">
          {% for brand in brands %}
          <div class="checkbox">
            <label>
              <input type="checkbox" value="{{ brand }}" name="brand">
              <p style="margin-top: 3px;margin-left: 2px;">{{ brand }}</p>
            </label>
          </div>
          {% endfor %}
          </div>
          <hr>
          <h5>Price range</h5>
            <select class="form-control" name="price_range">
            <option value="None,None">None</option>
            <option value="0,1000">> 1000 </option>
            <option value="1000,2500">1000 - 2500</option>
            <option value="2500,5000">2500 - 5000</option>
            <option value="5000,10000">5000 - 10000</option>
            <option value="10000,50000">10000 - 50000</option>
            <option value="50000,1000000">< 50000</option>
          </select>
          <hr>
          <input type="hidden" value="{{ results_dict }}" name="results_dict"></input>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
      </div> 
    </div>   
    <div class="col-md-10">
      {% if results_dict %}
      {% for product in results_dict %}
        <div class="col-md-3">
          <div class="well thumb-container"> 
          <a href="/product?pid={{ product.get('PID') }}" style="text-decoration: none;color: black"> 
            <img class="img-responsive thumb-image" src="{{ url_for('static',filename='images/products/'+product.get('PID')+'/thumb.jpeg') }}" alt="{{ product.get('PNAME') }}">
            <p class="thumb-text text-center">{{ product.get('PNAME') }}<br>
            {% if product.get('DISCOUNT')|int() == 0 %}
            <b>Rs.{{ product.get('PRICE') }}</b>
            {% else %}
            <s>Rs.{{ product.get('PRICE') }}</s>
            <b>Rs.{{ (product.get('PRICE') - product.get('PRICE')/100*product.get('DISCOUNT'))| int }}</b>
            {% endif %} 
            </p>       
          </a></div>
        </div>
      {% endfor%}
      {% endif%}
    </div>
  </div>
</div>




{% endblock %}